.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002352;
    width: 80%;
    height: 5rem;
    border: 2px solid #002352;
    margin: 3rem;
    padding: 1rem;
    color: lightblue;
}

.Header h1,
h2 {
    color: white;
}