.Header {
    display: flex;
    justify-content: center;
    text-decoration: underline lightblue;
    margin-top: 1rem;
}

.Header h1 {
    color: white;
}
.titulo{
    font-size: 1.5rem;
    text-align: center;
}