.container {
	display: flex;
	justify-content: center;
	background-color: #002352;
    color: #ffffff;
}
.navbar-brand{
    color: #ffffff;
    font-size: 25px;
}
.nav-link{
    color: #ffffff;
}
.nav-link:hover, .navbar-brand:hover{
    color: lightblue;
    box-shadow: inset 15px 2px 15px 5px darkslategrey;
    border-radius: 30px;

}
.navbar-toggler-icon{
    background-color: #ffffff;
}
.navbar-toggler{
    background-color: #ffffff;
}
.container ul {
	display: flex;
	justify-content: space-between;
}
.dropdown-menu{
    margin-top: 30rem;
    width: 30px;
    text-align: center;
    background-color: lightblue;
}
.dropdown-menu:hover{
    background-color: lightblue;
    color: #000000;
}
.dropdown-item {
    color: #000000;
}
.dropdown-item:hover{
    background-color: darkslategrey;
    color: #ffffff;
    border-radius: 10rem;
    text-align:left;
}


.nav-item, .dropdown-menu, {
    color: #ffffff;
}
.nav-item:hover{
    color: #ffffff;
    background-color: transparent;
    border-radius: 2rem;
}
.carrito{
    color: #ffffff;
    margin-top: 1rem;
}
.carrito:hover {
    box-shadow: inset 15px 2px 15px 5px darkslategrey;
    border-radius: 30px;
}
li {
	margin: 5px;
	list-style-type: none;
}

body{
    background-color: #002352;
}
