.App{
    font-family: sans-serif;
    text-align: center;
}
.nav-link{
    background-color: #002352;
    color: white;
}
.nav-link:hover{
    background-color: black;
    border-radius: 5rem;
    color: white;
}
body{
    background-color: #002352;
}